# Python build and compilation caches
__pycache__/
*.pyc
*.egg-info/
build/
dist/
*.spec

# Python virtual environments
.venv/

# Editor/IDE configurations
.vscode/
.idea/

# NovaLang AOT and Bytecode compilation targets
*.ll
*.exe
*.novac
*.o
*.obj
*.pdb
test_temp/
example_project/build/
